@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

/* ========== 428px-768px ========== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /* ===========HEADER========== */

  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .mobile-menu-open {
    display: none;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-info {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  /* =========HERO SECTION======== */

  .hero-section {
    background-image: var(--bg-gradient), url(../images/people-office-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: var(--bg-gradient), url(../images/people-office-tablet2x.jpg);
    }
  }

  .hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  /* =========FEATURES-SECTION======== */

  .list-item {
    max-width: 356px;
  }

  /* ===========TEAM SECTION========== */

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ==========CUSTOMERS SECTION========== */

  .customer-item {
    width: 168px;
    height: 88px;
  }
  .customers-list {
    gap: 72px 24px;
  }

  /* =========FOOTER======== */

  .subscribe-form {
    display: flex;
    gap: 24px;
    width: 453px;
  }

  .subscribe-input {
    width: 264px;
  }
  .subscribe-button {
    margin-left: 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 93px;
  }

  .subscribe-wrap {
    margin: 0;
    text-align: left;
  }

  .footer-wrap-logo {
    margin: 0;
  }

  .logo-footer {
    text-align: left;
  }
  .wrap-social-media {
    margin: 0;
  }

  .footer-soc-title {
    text-align: left;
  }

  /* ==========PARTFOLIO========== */

  .partfolio {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .partfolio-btn {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 64px;
  }

  .partfolio-item {
    width: 356px;
  }

  .partfolio-list {
    gap: 72px 24px;
    justify-content: inherit;
  }
}

/* ========== 768px-1158px ========== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  /* =========HEADER======== */
  .contact-list {
    display: flex;
    gap: 40px;
    flex-direction: inherit;
  }

  .contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* =========HERO SECTION======== */

  .hero-section {
    background-image: var(--bg-gradient), url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: var(--bg-gradient), url(../images/people-office2x\ .jpg);
    }
  }

  .hero {
    margin-bottom: 48px;
  }

  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  /* =========FEATURES SECTION======== */

  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-title::before {
    display: block;
  }

  .section-features {
    padding-top: 120px;
    padding-bottom: 0;
  }

  /* ==========DESCRIPTION SECTION========== */

  .section-description {
    display: block;
  }

  /* ===========TEAM SECTION========== */

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ==========CUSTOMERS SECTION========== */

  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }

  /* =========FOOTER======== */

  .footer-container {
    display: flex;
    gap: 0;
    padding-left: 0;
  }

  .footer-wrap-logo {
    margin-right: 120px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .wrap-social-media {
    display: flex;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 76px;
  }
  .footer-soc-title {
    text-align: left;
  }

  .subscribe-wrap {
    width: 264px;
    margin: 0;
    text-align: left;
  }

  /* ==========PARTFOLIO========== */

  .partfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .partfolio-btn {
    margin-bottom: 72px;
  }

  .partfolio-list {
    gap: 48px 24px;
  }
}
